.img{
    max-width: 200px;
    max-height: 200px;
    width: 20vw;
    height: 20vw;
    margin: 5%;
}

.btn{
    margin: 2%;
}


.dice_rotate {
    animation: rotation .5s infinite linear;
    opacity: 0.6;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }